{% extends "editor/dash/base.html" %}
{% load static %} <!-- Cargamos los archivos estaticos -->
{% load i18n %} <!-- Cargamos el módulo de Internacionalización -->
{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Mi Perfil</h1>
    <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-header card-header-primary">
              <h5 class="card-title">Cambiar contraseña</h5>
            </div>
            <div class="card-body">
              <form method="POST" action="/editor/change_password" id="profile_form">
                {% csrf_token %}
                 <div class="row">
                      <div class="col-md-10">
                        <div class="form-group">
                          <label class="bmd-label-floating">Contraseña antigua</label>
                          <input type="password" name="old_password" class="form-control">
                        </div>
                          {% if "old_password" in form_errors %}
                    <div class="alert alert-danger">
                        {% for error in form_errors.old_password %}
                            {{error.message}}
                        {% endfor %}
                    </div>
                {% endif %}
                      </div>
                 </div>
                  <div class="row">
                      <div class="col-md-10">
                        <div class="form-group">
                          <label class="bmd-label-floating">Nueva contraseña</label>
                          <input type="password" name="new_password1" class="form-control">
                        </div>
                                          {% if "new_password1" in form_errors %}
                    <div class="alert alert-danger">
                        {% for error in form_errors.new_password1 %}
                            {{error.message}}
                        {% endfor %}
                    </div>
                {% endif %}
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-10">
                        <div class="form-group">
                          <label class="bmd-label-floating">Confirmar contraseña</label>
                          <input type="password" name="new_password2" class="form-control">
                        </div>
                          {% if "new_password2" in form_errors %}
                    <div class="alert alert-danger">
                        {% for error in form_errors.new_password2 %}
                            {{error.message}}
                        {% endfor %}
                    </div>
                {% endif %}
                      </div>
                  </div>
                <button type="submit" class="btn btn-primary float-right">Cambiar Contraseña</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>

</div>
<script type="text/javascript">
  $(document).ready(function() {
      $("#collapseProfile").collapse("toggle");
      $("#changePassword").addClass("active");
  })
</script>
{% endblock %}