.card {
    width: 240px;
    height: 130px;
    min-width: 170px;
    min-height: 105px;
    border: 3px solid rgb(0, 168, 190);
    border-radius: 10px;
    -webkit-box-shadow: -1px 2px 24px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 24px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 24px -4px rgba(0, 0, 0, 0.75);
    border-style: ridge;
    border: 1px solid rgb(21, 138, 17);
    z-index: 3;
}

.cardBack{
    z-index: 1 !important;
}
.tituloTexto {
    background-color: aquamarine;
    border-bottom: 1px solid rgb(0, 0, 0);
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 38px;

}

.transparente {
    background-color: transparent;
    padding: 0;
    border: none;
    background: none;
    outline: 0 !important;
    width: 20px;
    height: 20px;
    float: left;
}