
 .pairing {
    min-width: 30px;
    min-height: 30px;
    /*border: 2px solid red;*/
    resize: none !important;
    position: fixed;
}


.marginCanvas{
    margin-left: auto; 
    margin-right: 0;
   
    display: inline-block;
   
}

.pairingFront{
    z-index: 3 !important;
}

.pairingBack{
    z-index: 1 !important;
}


