.inline {
	float: left;
	margin-right: 6px;
	margin-top: 2px;
	margin-bottom: 5px;
	margin-left: 4px;

}

.configurarPath {
	width: 300px;
	height: auto;
	border: 1px solid rgb(0, 162, 255);
	margin-left: 25px;
	margin-top: -15px;
	border-radius: 10px;
	background-color: #b1f8f8;

}

.insidePath {
	background-color: #dee2daf3;
	height: auto;
	border: 1px solid rgb(255, 255, 255);
	margin: 5px;
	padding: 2px;
	border-radius: 4px;
	display: flex;
}

.xl:hover {
	background-color: orange;
}


.xMark {
	color: red;
	float: right;
	padding-right: 5px;
	padding-top: 5px;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 15px;
	height: 15px;
	margin-top: 4px;

}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

.flexDiseño {
	display: flex;
}

.deleteActivity{
	
	width: 20px;
	height: 20px;
	color: rgba(255, 187, 0, 0.829);
	float: right;
	padding-right: -10px;
	padding-top: -10px;
	margin-top: -10px;
	margin-right: -10px;
	margin-bottom: -2px;
	
}

.deleteActivity:hover{
	
	color:rgb(255, 0, 0)


	
}

#canvas2 {

	border: 5px solid #000000;
	background-color: rgb(245, 234, 234);
}


